<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="storper.matt.c196_progress_pal">

    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196_Progress_Pal">

        <activity
            android:name=".Activities.ModifyAssessmentActivity"
            android:exported="true"
            android:parentActivityName=".Activities.AssessmentListActivity"
            />
        <activity
            android:name=".Activities.ModifyCourseActivity"
            android:exported="true"
            android:parentActivityName=".Activities.CourseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.CourseListActivity" />
        </activity>

        <activity
            android:name=".Activities.ModifyTermActivity"
            android:exported="true"
            android:parentActivityName=".Activities.TermListActivity"/>
        <activity
            android:name=".Activities.AssessmentListActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CourseListActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.TermListActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Utilities.NotificationService"/>
    </application>
</manifest>